/**
 * 1200px> website stylesheet xsm
 *
 * @package  MinBizeed
 * @company  Triangle Mena <http://trianglemena.com>
 * @developer  Maroun Melhem <http://maroun.me>
 *
 */

@media (max-width: 1200px) {
    .contact_us_page .auction_example.auction_wrapper .auction_wrap {
        margin: 0 0 0 18px;
    }

    .live_auctions_page .all_auctions_wrapper .auction_wrapper .auction_wrap .pricing_wrapper h6{
        margin: 0 40px;
    }

    .live_auctions_page.closed_auctions_page .all_auctions_wrapper .auction_wrapper .auction_wrap .pricing_wrapper h6{
        margin: 2px 0;
    }

    .closed_auctions_page .all_auctions_wrapper .auction_wrapper .auction_wrap .won_by_holder span {
        margin: 3px 0 0 15px;
    }

    .closed_auctions_page .all_auctions_wrapper .auction_wrapper .auction_wrap .biding_holder span{
        margin: 11px 0 0 15px;
    }

    .live_auctions_page .all_auctions_wrapper .auction_wrapper:nth-child(3) .bid_now_button,
    .live_auctions_page .all_auctions_wrapper .auction_wrapper:nth-child(6) .bid_now_button {
        margin: -1px 0 0 0;
    }

    .live_auctions_page .all_auctions_wrapper .auction_wrapper:nth-child(1),
    .live_auctions_page .all_auctions_wrapper .auction_wrapper:nth-child(4),
    .profile_page .auctions_history .all_auctions_wrapper .auction_wrapper:nth-child(1),
    .profile_page .auctions_history .all_auctions_wrapper .auction_wrapper:nth-child(4){
        padding: 0 10px 0 0;
    }

    .live_auctions_page .all_auctions_wrapper .auction_wrapper:nth-child(1) .bid_now_button,
    .live_auctions_page .all_auctions_wrapper .auction_wrapper:nth-child(4) .bid_now_button {
        margin: -1px 0 0 0;
    }

    .live_auctions_page .all_auctions_wrapper .auction_wrapper:nth-child(3),
    .live_auctions_page .all_auctions_wrapper .auction_wrapper:nth-child(6),
    .profile_page .auctions_history .all_auctions_wrapper .auction_wrapper:nth-child(3),
    .profile_page .auctions_history .all_auctions_wrapper .auction_wrapper:nth-child(6){
        padding: 0 0 0 10px;
    }

    .live_auctions_page .all_auctions_wrapper .auction_wrapper:nth-child(2),
    .live_auctions_page .all_auctions_wrapper .auction_wrapper:nth-child(5),
    .profile_page .auctions_history .all_auctions_wrapper .auction_wrapper:nth-child(2),
    .profile_page .auctions_history .all_auctions_wrapper .auction_wrapper:nth-child(5){
        padding: 0 5px;
    }

    .single_product_page .product_preview .large_image_holder{
        width: 98%;
    }

    .single_product_page .product_preview .small_images_holder .small_image_wrapper{
        max-width: 30.4%;
    }

    .single_product_page .product_information .bidding_info_wrapper .your_bids .bids_ribbon{
        padding: 2px 15px;
    }

    .single_product_page .product_information .bidding_info_wrapper .bid_cost .bids_ribbon{
        padding: 2px 10px;
    }

    .single_product_page .product_information .bid_now_wrapper a.bid_now_button{
        margin: -1px 35px 0;
    }

    .single_product_page .product_information .pricing_wrapper .prices_wrapper .triangle-right .price_label{
        margin: 10px 2px 0 0;
    }

    .single_product_page .product_information .pricing_wrapper .prices_wrapper h3 .price_label {
        margin: 8px 2px 0;
    }

    .single_product_page .product_information .social_media_wrapper span:nth-child(5){
        padding: 6px 6px 6px 22.5px;
    }

    .winners_page .winners_wrapper .swiper-container .swiper-wrapper,
    .winners_page .winners_wrapper .swiper-container .swiper-slide {
        height: auto;
        margin-top: 20px;
    }

    .winners_page .winners_wrapper .previous_winners_wrapper,
    .winners_page .winners_wrapper .next_winners_wrapper{
        top: 0;
    }

    .winners_page .winners_wrapper .shadow_left_overlay,
    .winners_page .winners_wrapper .shadow_right_overlay
    {
        width: 100px;
    }

    .how_it_works_page .guide_wrapper .single_guide_wrap .play_button {
        right: 11%;
        top: 34%;
    }

    .how_it_works_page .guide_wrapper .single_guide_wrap2 .middle_section_wrap{
        margin: 0 -232px;
    }

    /*    .profile_page .personal_info_wrapper .personal_right_part .image_holder img.profile_bg{
            width: 100%;
        }

        .profile_page .personal_info_wrapper .personal_right_part .image_holder .image_and_description_wrap {
            left: 31px;
            margin: 0 auto;
            max-width: 575px;
            position: absolute;
            right: auto;
            text-align: center;
            top: 32px;
        }

        .profile_page .personal_info_wrapper .personal_right_part .image_holder img.profile_image {
            float: left;
            max-width: 33%;
        }*/

    .profile_page .personal_info_wrapper .personal_right_part .image_holder {
        padding: 0;
    }

    .profile_page .personal_change_fields .personal_info_identifier form,
    .profile_page .personal_change_fields .password_change_identifier form {
        padding: 0 15px;
    }

    .top_site_section .middle_menu_bar .center_middle_menu_bar .how_it_works_section .how_it_works_wrap .howitworks_inner_wrap span{
        margin: 7px 0 -5px;
    }

    .top_site_section .middle_menu_bar .center_middle_menu_bar .how_it_works_section .how_it_works_wrap span.bottom_white_arrow{
        bottom: 5%;
    }

    .top_site_section .middle_menu_bar .center_middle_menu_bar .how_it_works_section .how_it_works_wrap h1 a{
        color: rgba(0, 0, 0, 0.8);
        font-size: 34px;
        margin: 12px 0 0;
    }

    .profile_page .personal_change_fields .personal_info_identifier h1,
    .profile_page .personal_change_fields .password_change_identifier h1{
        font-size: 35px;
    }

    .profile_page .personal_info_wrapper .personal_right_part .image_holder .bids_info_wrapper {
        float: right;
        margin: 55px 0 0 25px;
    }

    .profile_page .personal_info_wrapper .personal_right_part .image_holder .buy_bids_wrapper {
        display: block;
        margin: -68px 0 0;
    }

    .profile_page .personal_info_wrapper .personal_left_part .name_wrapper h1{
        font-size: 40px;
    }

    .profile_page .personal_info_wrapper .personal_left_part .prizes_wrapper h5{
        margin: 3px 10px 0 0;
    }
}